<!DOCTYPE html>
<html ng-app="RestaurantApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/restaurant.css">
        <script src="lib/angular.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="lib/jquery-2.1.4.min.js"></script>
        <script src="app.js"></script>
    <!-- Add your CSS links here -->
</head>
<body>
    <div ng-controller="MainController as mainCtrl">
        <button ng-click="mainCtrl.goToMyInfo()">My Info</button>
        <button ng-click="mainCtrl.goToSignUp()">Sign Up</button>
        <div ng-view></div>
    </div>
    <!-- Add your JavaScript files here -->
</body>
</html>
