<div>
    <h2>My Info</h2>
    <div>
        <strong>First Name:</strong> {{ myInfoCtrl.userInfo.firstName }}
    </div>
    <div>
        <strong>Last Name:</strong> {{ myInfoCtrl.userInfo.lastName }}
    </div>
    <div>
        <strong>Email:</strong> {{ myInfoCtrl.userInfo.email }}
    </div>
    <div>
        <strong>Phone:</strong> {{ myInfoCtrl.userInfo.phone }}
    </div>
    <div ng-if="myInfoCtrl.favoriteMenuItem">
        <strong>Favorite Menu Item:</strong> {{ myInfoCtrl.favoriteMenuItem.name }}
        <div>
            <img ng-src="{{ myInfoCtrl.favoriteMenuItem.imageUrl }}" alt="{{ myInfoCtrl.favoriteMenuItem.name }}">
        </div>
        <div>
            <strong>Description:</strong> {{ myInfoCtrl.favoriteMenuItem.menuItemDescription }}
        </div>
    </div>
    <div ng-if="!myInfoCtrl.favoriteMenuItem">
        <p>Not Signed Up Yet. <a href="#/signup">Sign up Now!</a></p>
    </div>
</div>
